<html>
<head>
    <title></title>
    
</head>
<body>
        <div id="App">
            <input type="text" placeholder="name" v-model="name">     
            <button type="button" class="btn btn-circle-bottom" v-on:click="btnSubmit(deleteName)">{{btnMode}} </button>

                <ul>
                <li v-for="item in fullData">
                        {{item.name}}                    
                        <span>
                            <button v-on:click="OnEdit(item.name)" href="#">Edit</button> || 
                            <button v-on:click="OnDelete(item.name)" href="#">Delete</button>
                        </span>
                        </li>
                </ul>
            <br />
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
        <script>
            
                var app = new Vue({
                    el: '#App',
                    data: {
                        name: '',                         
                        fullData: [
                            {                                
                                'name':'Muhammad Iqbal Mubarok'
                            },
                            {                               
                                'name':'Ruby Purwanti'
                            },
                            {                              
                                'name':'Faqih Muhammad'
                            }
                        ],
                        btnMode: "Add",
                        deleteName:""
                    },
    
                    methods: {
                        btnSubmit: function (d) {
                            // hapus data
                            this.fullData = (this.fullData).filter(function (val) {
                                return val.name != d
                            });     

                            // tambah data baru
                            this.fullData.push({
                                name: this.name  
                            })
                            if (this.btnMode == "Update") {
                                this.btnMode = "Add";
                            }
                            this.name = '';
                            
                        },
                        OnEdit: function (d) {
                            let fitdata = (this.fullData).filter(function (val) { return val.name == d });
                            this.name = fitdata[0].name;
                            this.deleteName = fitdata[0].name;
                            this.btnMode = "Update";                                                            
                        },
    
                        OnDelete: function (d) {
                            if(confirm('Anda Yakin?')){
                            // hapus data
                            this.fullData = (this.fullData).filter(function (val) {
                                return val.name != d
                            });
                            }
                        }
                    }
                });
    
        </script>
    
</body>
</html>
